@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);

body {
	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
}

.parent_header {
	background-color: #002549;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.h1_heading {
	font-size: 40px;
	background: linear-gradient(#afd7ff, #002549);
	color: whitesmoke;
	text-align: center;
	width: 100%;
	padding: 20px;
	margin: 0;
}

.nav_content {
	background-color: #002549;
	display: flex;
	justify-content: space-around;
	gap: 100px;
}

.nav_link {
	font-size: 17px;
	color: whitesmoke;
}

.nav_link:hover {
	color: rgb(168, 150, 248);
}

.intro {
	background-color: #007bff;
	color: whitesmoke;
	padding: 10px;
	text-align: center;
}

.h2_intro {
	font-size: 25px;
	color: whitesmoke;
}

.content {
	background-color: whitesmoke;
	box-shadow: 10px 5px 5px lightblue;
	margin: 0 auto;
	padding: 30px;
	width: 500px;
	text-align: center;
}

.h2_content {
	font-size: 25px;
	color: rgb(46, 56, 68);
}

.footer {
	margin-left: 20px;
}